@model Todo

    <div>
        @* <h1>Hello world</h1> *@
        <form hx-post="/Home/Create" hx-target="body">
            <td>
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" autofocus></input>
                <span asp-validation-for="Title" class="text-danger"></span>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Add task</button>
            </td>
        </form>
    </div>
