@page "{id:int?}"
@model MyFirstRazorApp.Pages.categories.edit
@{
    ViewData["Title"] = "edit";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <input asp-for="Category.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit catogory</h2>
        </div>

        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Category.Name"></label>
            <input class="form-control" asp-for="Category.Name" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input class="form-control" asp-for="Category.DisplayOrder"/>
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        
        <div class="row">
            <div class="col-6">
                <button type="sumbit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Cancel</a>
            </div>
        </div>
    </div>
</form>
